<!DOCTYPE html>
<html>
<head>
	<title>Calendar</title>
	{{> styles }}
	<script type="text/javascript" src="js/vendor/require.js" data-main="js/main.js"></script>
</head>
<body>
   {{{body}}}
</body>
</html>
