<script type='template/handlebars' data-template-login>
	<form name="loginForm">
	    <label>Username : 
	      <input type="text" placeholder="Username" data-username>
	    </label>
	    <label>Password :
	      <input type="password" placeholder="Password" data-password>
	    </label>
	    <input type="checkbox"> Remember me
	    <button data-action>Login</button>
	    <ul class="options">
	    	<li data-option="create-account">Create new account ?</li>
	    	<li data-option="recovery-password">Forgot password ?</li>
	    </ul>
	    <span class="errors"></span>
	</form>
</script>