<script type="template/handlebars" data-template-loginWidget>
	<button href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button dropdown">
	</button><br>
	<div id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
	</div>
</script>